<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Add</title>
</head>
<body>
    <form action="/users/new" method="post">
        이름 : <input type="text" name="name"><br>
        나이 : <input type="number" name="age"><br>
        <button type="submit">등록</button>
    </form>
    <button onclick="location.href='/'">취소</button>
</body>
</html>